{% extends "layout.html" %}

{% block content %}
    
    <div class="title"> 
        <h1> Guess What Happened On </h1>
    </div>


    <!-- Chaning Date Area Below -->
    <form class="date_change" action="{{ url_for('changeDate') }}" method="post">
        <label for="months"></label>
        <select name="months" id="months">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select> 

        <label for="days"></label>
        <select name="days" id="days"></select>

        <input type="submit" value="Change Date">
    </form>
    <!-- Chaning Date Area Above -->

  
    
    <form class="quiz_box" action="{{ url_for('quiz') }}" method="POST">
        <div class="game_grid">
            <input type="radio" id="choice_one" name="option">
            <label for="choice_one">{{question.options[0]}}</label>

            <input type="radio" id="choice_two" name="option">
            <label for="choice_two">{{question.options[1]}}</label>

            <input type="radio" id="choice_three" name="option">
            <label for="choice_three">{{question.options[2]}}</label>

            <input type="radio" id="choice_four" name="option">
            <label for="choice_four">{{question.options[3]}}</label>
        </div>

        <button type="submit" class="submit_buttion">Submit</button>
    </form>






    <!-- Scripts -->
    <script>
        const daysInMonth = {
            1: 31,
            2: 28,
            3: 31,
            4: 30,
            5: 31,
            6: 30,
            7: 31,
            8: 31,
            9: 30,
            10: 31,
            11: 30,
            12: 31
        };

        function updateDays(){
            const month = document.getElementById('months').value;
            const daysSelect = document.getElementById('days');
            const numDays = daysInMonth[month];
            daysSelect.innerHTML = '';
            for (let i = 1; i <= numDays; i++) {
                const option = document.createElement('option');
                option.value = i;
                option.text = i;
                daysSelect.appendChild(option);
            }
        }


        document.getElementById('months').addEventListener('change', updateDays);
        window.onload = function() {
            // gets the vars to edit
            const monthSelect = document.getElementById("months");
            const daySelect = document.getElementById("days");
            
            // gets cur date
            const curDate = new Date();
    
            // gets day and month from date
            const curMonth = curDate.getMonth() + 1;
            const curDay = curDate.getDate();


            // changes vars to cur day/month
            monthSelect.value = curMonth;
            updateDays();
            daySelect.value = curDay;
        };

    </script>


{% endblock %}

